<!DOCTYPE html>
<meta charset="UTF-8">
<html>

<head></head>

<body>
    <div id="timeline-app">
        <div id="timeline-nav">
            <a>{{ storage.currentTimeline.date }}</a>
            <a @click="newTimeline">New</a>
            <a @click="addMark">Mark</a>
            <a @click="saveHistory">Save</a>
            <a @click="clearHistory">Clear</a>
            <a @click="exportFile">Export</a>
            <input v-model="currentTag" placeholder="Tag" v-on:keyup.enter="addTag"/>
            <a @click="addTag">Add Tag</a>
        </div>
        <div id="timeline-view">
            <ol ref="timelineList">
                <li v-for="mark in storage.currentTimeline.markArr" 
                    :class="mark.type"
                    @click="selectMark(mark, $event)">
                    <div>{{ mark }}</div>
                    <ol class="timeline-tags">
                        <li v-for="tag in mark.tags">
                            {{ tag }}
                        </li>
                    </ol>
                </li>
            </ol>
            <div id="timeline-line" ref="timelineLine"></div>
        </div>
    </div>
    <link rel="stylesheet" type="text/css" href="timeline.css">
    <script src="vue.js"></script>
    <script src="timeline.js"></script>
</body>

</html>
