.TimePoint {
    display: block;
    background-color: #d2601a;
    color : #fff1e1;
    border : 2px solid #a04812;
    border-radius: 20px;
    font-size : 24px;
    text-align : center;
    text-decoration : none;
    padding: 10px 10px;
    width : 60px;
    font-family : Arial, Helvetica, sans-serif;
    box-shadow: 0 0 2px black;
}

.TimeSpan {
    display : block;
    background-color : #d2601a;
    color : #fff1e1;
    border : 2px solid #a04812;
    font-size : 24px;
    text-align : center;
    text-decoration : none;
    /* left: 10px; */
    padding : 15px;
    /* padding-left: 64px; */
    width : 30%;
    font-family : Arial, Helvetica, sans-serif;
    margin-left: 40px;
    box-shadow: 0 0 2px black;
}

#timeline-line {
    content: "";
    width: 20px;
    left: 75px;
    background: #1d3c45;
    z-index: -1;
    box-shadow: 0 0 5px black;
    position: absolute;
}

#timeline-view .active {
    background-color: #d39975;
}

.TimeSpan * {
    pointer-events: none;
}

.TimePoint {
    pointer-events: none;
}

/* #timeline-view { */
/*     display: flex; */
/*     width: 100%; */
/* } */

/* #timeline-view>ol { */
/*     width: 100%; */
/*     flex: 1; */
/* } */

#timeline-nav > a {
    background-color : #d2601a;
    color : #fff1e1;
    border : 2px solid #a04812;
    display : block;
    font-size : 24px;
    text-align : center;
    text-decoration : none;
    padding : 15px 32px;
    width : 100%;
    height: 30px;
    font-family : Arial, Helvetica, sans-serif;
    cursor : pointer;
    user-select : none;
    box-shadow: 0 0 2px black;
}

#timeline-nav > input {
    background-color : #d2601a;
    color : #fff1e1;
    border : 2px solid #a04812;
    display : block;
    font-size : 24px;
    text-align : center;
    text-decoration : none;
    padding : 15px 32px;
    width : 100%;
    height: 30px;
    font-family : Arial, Helvetica, sans-serif;
    cursor : pointer;
    user-select : none;
    box-shadow: 0 0 2px black;
}

.timeline-tags {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

timeline-button.addTag {
    display: inline-block;
    width: 20%;
}

#timeline-nav {
    display: block;
    position: fixed;
    top: 5%;
    right: 15%;
}

#timeline-app {
    top: 4%;
    width: 100%;
    /* position: fixed; */
}
